include header.pug
.container
    .row.mt-5.mb-5
        .col-12
            h3.border-bottom.pb-3 Our Products
        .col-lg-3.col-md-4.col-sm-6.col-12
            .card.shadow
            img.card-img-top(src='https://picsum.photos/200', alt='card-img-top')
            .card-body
                h4.card-title.border-bottom IPhone
                p.card-text Product description
                p.card-text
                b Price 
                |  1,25,000
                p.card-text
                a.btn.btn-primary(href='#') Add to cart
        .col-lg-3.col-md-4.col-sm-6.col-12
            .card.shadow
            img.card-img-top(src='https://picsum.photos/200', alt='card-img-top')
            .card-body
                h4.card-title.border-bottom IPhone
                p.card-text Product description
                p.card-text
                b Price 
                |  1,25,000
                p.card-text
                a.btn.btn-primary(href='#') Add to cart
        .col-lg-3.col-md-4.col-sm-6.col-12
            .card.shadow
            img.card-img-top(src='https://picsum.photos/200', alt='card-img-top')
            .card-body
                h4.card-title.border-bottom IPhone
                p.card-text Product description
                p.card-text
                b Price 
                |  1,25,000
                p.card-text
                a.btn.btn-primary(href='#') Add to cart
        .col-lg-3.col-md-4.col-sm-6.col-12
            .card.shadow
            img.card-img-top(src='https://picsum.photos/200', alt='card-img-top')
            .card-body
                h4.card-title.border-bottom IPhone
                p.card-text Product description
                p.card-text
                b Price 
                |  1,25,000
                p.card-text
                a.btn.btn-primary(href='#') Add to cart
    .row.mb-5.mt-5
    .col-12
include footer.pug