doctype html 
html
    head 
        title=email 
    body 
        h1 Contact <hr/>
        table(align='center',border='2',cellpadding='10')
            tr
                td(width='25%') 
                    b Name
                td
                    if(name)
                        b=name
                    else
                        name not available
            tr 
                td
                    b Mobile
                td=mobile
            tr 
                td
                    b Email
                td our email address is #{email}