doctype html 
html 
    head 
        title use of dot operator
    body 
       p. 
        first line of text in paragraph <br/>
        second line of text in paragraph <br/>
        third line of text in paragraph <br/>
        fourth line of text in paragraph <br/>
       