doctype html 
html 
    head 
        title use of pip sign operator
    body 
       p 
       | first line of text in pug <br/>
       | second line of text in paragraph <br/>
       | third line of text in paragraph <br/>
       | fourth line of text in paragraph <br/>
       